.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.card {
  background: #fff;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.title {
  margin-top: 0;
  text-align: center;
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
}

form.form-container {
  padding: 30px;
}

.input-container {
  display: flex;
  input {
    flex: 1;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 22px;
    transition: all 0.5s;
    border-bottom: 1px solid #cecece;
    &:focus {
      border-bottom: 1px solid #000;
    }
  }
  button {
    border: none;
    background-color: #fff;
    width: 40px;
    cursor: pointer;
    &:focus {
      border: none;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    cursor: pointer;
    border: none;
  }
}
